<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Update Item</h2>
            </div>
            <form method="post" action="/Item/EditItem/">
                <div class="modal-body">

                    <input type="hidden" id="editItemId" name="ItemId" />

                    <label>Name</label>
                    <input type="text" id="editItemName" name="ItemName" class="form-control" />
                    <br />

                    <label>Unit Price</label>
                    <input type="text" id="editUnitPrice" name="Unit_Price" class="form-control" />
                    <br />

                    <label>Stock</label>
                    <input type="text" id="editStock" name="Stock" class="form-control" />
                    <br />

                    <label>Brand</label>
                    <select id="editBrandId" name="BrandId" class="form-control"></select>
                    <br />

                    <label>Warehouse</label>
                    <select id="editWareHouseId" name="WareHouseId" class="form-control"></select>
                    <br />

                    <label>Category</label>
                    <select id="editCategoryId" name="CategoryId" class="form-control"></select>
                    <br />

                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
